<div class="create-container">
    <h1 *ngIf="!editing">
        Ingresar Prenda
    </h1>
    <h1 *ngIf="editing">
        Ingresar Prenda
    </h1>
    <div class="form">
        <form [formGroup]="myForm">
            <div class="form-group">

                <input id="codigoPrenda" type="number" class="form-control" formControlName="codigoPrenda" placeholder="Codigo de Prenda" />
                <span *ngIf="controlHasError('codigoPrenda', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
            </div>
            <div class="form-group">

                <input id="descripcion" type="text" class="form-control" formControlName="descripcion" placeholder="Descripcion" />
                <span *ngIf="controlHasError('descripcion', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
            </div>
            <div class="form-group">

                <input id="estilo" type="text" class="form-control" formControlName="estilo" placeholder="Estilo" />
                <span *ngIf="controlHasError('estilo', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
            </div>
            <div class="form-group">

                <input id="precio" type="number" class="form-control" formControlName="precio" placeholder="Precio" />
                <span *ngIf="controlHasError('precio', 'required')">
        <strong>{{ "validation.required_field" | translate }}</strong>
      </span>
            </div>
            <div class="form-group">

                <input id="stock" type="number" class="form-control" formControlName="stock" placeholder="Stock" />
                <span *ngIf="controlHasError('stock', 'required')">
      <strong>{{ "validation.required_field" | translate }}</strong>
    </span>
            </div>


            <div class="form-group">
                <input type="checkbox" class="form-control" id="estado" formControlName="estado">
                <label class="form-check-label" for="materialchecked">Disponible</label>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <button id="botonCrearPrenda" class="btn btn-outline-success my-2 my-sm-0" (click)="crearPrenda()">
                                    Aceptar
                                </button>
                    </div>
                    <div class="col-5">
                        <button id="botonVolver" [routerLink]="['/tienda']" class="btn btn-outline-success my-2 my-sm-0" (click)="volver() ">
                                Volver
                    </button>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>