<app-navbar></app-navbar>
<div class="center">
    <div id="carouselExampleInterval" class="carousel slide slide-center" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
                <img src="assets/img/marvel-vs-dc.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="assets/img/batman-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="assets/img/darevil-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="assets/img/hulk-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="assets/img/linterna-verde-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="assets/img/spiderman-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="assets/img/wolverine-1.png" class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="card-columns">
    <div class="card">
        <img src="assets/img/aquaman.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/batman.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/daredevil.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/hulk.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/linterna-verde.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/spiderman.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
</div>
