<div class="create-container">
  <h1 *ngIf="!editing">
      {{ "forms.create_urgencia" | translate }}
  </h1>
  <h1 *ngIf="editing">
      {{ "forms.edit_urgencia" | translate }}
  </h1>
  <div class="form">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label>{{ "forms.isbn" | translate }}</label>
        <input id="identificacion" type="number" class="form-control" formControlName="identificacion" />
        <span *ngIf="controlHasError('identificacion', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "forms.name" | translate }}</label>
        <input id="nombrePaciente" type="text" class="form-control" formControlName="nombrePaciente" />
        <span *ngIf="controlHasError('nombrePaciente', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "forms.inventory" | translate }}</label>
        <input id="fechaIngreso" type="date" class="form-control" formControlName="fechaIngreso" />
        <span *ngIf="controlHasError('fechaIngreso', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "forms.eps" | translate }}</label>
        <input id="eps" type="text" class="form-control" formControlName="eps" />
        <span *ngIf="controlHasError('eps', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <button id="botonCrearUrgencia" class="btn btn-primary" (click)="store()">
          {{ "forms.save" | translate }}
      </button>
      <p> </p>
      <button id="botonVolver" class="btn btn-primary" (click)="confirmVolver()">
        {{ "forms.return" | translate }}
    </button>
    </form>
  </div>
</div>
